@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "NineByFive";
  src: url('./assets/fonts/NineByFive.ttf') format('truetype');
}